@import '../../vars.css';
.ensaio_all{
    background-color: var(--bg-color-about);
    text-align: center;
    padding: 2rem 0.4rem;
}

.ensaio_page{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100dvh;
}

.title_ensaio{
    font-size: 2.4rem;
    font-family: Helvetica;
    letter-spacing: -1.4px;
}