@import '../../vars.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Parisienne&family=Tangerine&display=swap');


.home_page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.bio_section {
    width: 100%;
    height: 58rem;
    padding: 0 0.4rem;
    display: flex;
    position: relative;
    flex-direction: column;
}

.about {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20rem;

    z-index: 2;
}

.about h3 {
    text-align: start;
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: -1px;
    color: var(--text-color-p);
}

.gradient_bord {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/perfil.jpg);
    
    background-size: cover;
    background-position: center;
   
    background-repeat: no-repeat;
}

.gradient_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    /* gradiente apenas no rodapé */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.963), transparent);
    pointer-events: none;
}

.sectionGallery {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1.2rem;
    margin-bottom: 4rem;

}

.contac_section {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 1.2rem;
    padding: 0 1rem;

}

.sectionGallery h3 {
    font-size: 4rem;
    text-align: center;

    font-family: "Parisienne", cursive;
    padding: 1.6rem 0;
    letter-spacing: 2px;
    line-height: 2;
    color: transparent;
    background: linear-gradient(75deg, #fce87b, #b88b1b, #8f6805);

    -webkit-background-clip: text;

    background-clip: text;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.sectionGallery p{
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -0.8px;
    padding: 0 0.6rem;
}