/* =====================
   Estilos base (mobile)
===================== */
.home_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bio_section {
    width: 100%;
    height: 100vh;
    /* deixa mais fluido no mobile */
    padding: 0 0.4rem;
    display: flex;
    flex-direction: column;
    position: relative;

}

.about {
    width: 100%;
    margin-top: 50vh;

    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.about h3 {
    text-align: center;
    font-size: 2.6rem;
    /* menor no mobile */
    font-weight: bold;
    letter-spacing: 11px;
    color: var(--text-color-p);
    margin-top: 2rem;
}

.gradient_bord {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/perfil.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.gradient_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.963), transparent);
    pointer-events: none;
}

.sectionGallery {
    padding: 1rem 0;
    margin-top: 5%;
    background-color: transparent;

}

.gallery_title h3 {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica;
    letter-spacing: -1px;
    color: var(--text-color-p);
    margin-top: 2rem;
}

.gallery_title p {
    font-size: 0.8rem;
    padding: 0 1rem;
    text-align: center;
    font-family: Helvetica;
    color: var(--text-color-p);
    margin-top: 0.5rem;
}

/* ====== Tablet / Medium ====== */
@media (min-width:768px) {
    .about {
        margin-top: 85%;
    }

    .about h3 {
        font-size: 3.6rem;
    }

    .gallery_title h3 {
        font-size: 3rem;
    }

    .gallery_title p {
        font-size: 1rem;
    }

}

/* ===== Notebook / Medium ===== */

@media (min-width:960px) {
    .about {
        margin-top: 70%;
    }

    .about h3 {
        font-size: 4.6rem;
    }

    .gallery_title h3 {
        font-size: 4rem;
    }

    .gallery_title p {
        font-size: 1.2rem;
    }

}

/* ===== Desktop / Large ===== */

@media (min-width:1200px) {
    .about {
        margin-top: 55%;
    }

    .about h3 {
        font-size: 5.6rem;
    }

    .gallery_title h3 {
        font-size: 5rem;
    }

    .gallery_title p {
        font-size: 1.4rem;
    }

}

/* ====== Desktop / XL ====*/

@media (min-width:1366px) {
    .about {
        margin-top: 50%;
    }

    .about h3 {
        font-size: 6.6rem;
    }
    

    .gradient_bord {
        height: 170vh;
    }

    .gallery_title h3 {
        font-size: 6rem;
    }

    .gallery_title p {
        font-size: 1.6rem;
    }

    .sectionGallery{
        margin-top: 50%;
        z-index: 1000;
    }

}

