@import '../../vars.css';


.bio_editor {
    width: 100%;
    height: 420px;
    display: flex;
    padding: 0 0.6rem;
    background-color: var(--bg-color-about);
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}

.bio_text {
    width: 100%;
    text-align: justify;


}

.bio_text textarea {
    width: 100%;

    background-color: var(--bg-color-about);
    color: var(--text-color--global);
    font-size: 1rem;
    font-family: Helvetica;
    border: none;
    margin-bottom: 1.4rem;
    letter-spacing: 1px;
    resize: none;
}

.bio_atual {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio_atual p {
    font-size: 1.1rem;
    line-height: 1.1;
}

.btns {

    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.btnsave,
.btncancel {
    width: 220px;
    padding: 12px;
}

.btnedit {
    width: 220px;
    padding: 12px;
    margin-top: 1.4rem;
    transition: all 0.3s ease-in-out;
}

.btnedit:hover {
    transform: scale(1.1);
}


@media (min-width:1336px) {
    .bio_editor {
        padding: 0 4rem;

    }

    .bio_atual {

        width: 100%;
        height: 100%;
        padding: 5rem 2rem;

    }

    .bio_atual p {
        font-size: 1.8rem;
        line-height: 1.6;
        text-align: left;
    }

    .btnedit {
        display: flex;
        margin-top: 6rem;
    }

}