@import '../../vars.css';


.events_page{
    background-color: var(--bg-color-about);
    text-align: center;
    padding: 2rem 0.4rem;
}

.events_page_header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    height: 100dvh;
}

.title_events{
    font-size: 2.4rem;
    font-family: Helvetica;
    letter-spacing: -1.4px;
}