@import '../../vars.css';

.events_page{
    width: 100%;
    height: 100vh;
    padding: 30px 120px;
    
    display: flex;
    flex-direction: column;


}

.events_page_header{
    width: 100%;
    height: 100%;
    display: grid;
    flex-wrap: wrap;
    
}

.events_page_header h1{
    text-align: center;
    margin-top: 8%;
    font-size: 6rem;
    letter-spacing: 2px;
    line-height: normal;
    font-weight: bold;
    
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(182deg, #AE8625, #F7EF8A, #D2AC47, #EDC967);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}