@import '../../vars.css';
/*mobile*/
.admin_page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.admin_page h1{
    color: var(--text-color-p);
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;
    font-family: Helvetica;
    letter-spacing: -1.2px;
    margin-bottom: 2rem;
}
.admin_page h2{
    color: var(--text-color-p);
    font-size: 2rem;
    text-align: start;
    font-family: Helvetica;
    text-transform: uppercase;
    padding: 1rem 0;
    margin-bottom: 1rem;
    letter-spacing: -1.2px;
}
.gallery_section{
    width: 100%;
    min-height: 100dvh;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.gallery_section h2{
    background-color:var(--bg-color-galery2);
    font-size: 1.4rem;
    text-align: center;
    font-family: Helvetica;
    text-transform: uppercase;
    padding: 1rem 0;
    margin-top: 5rem;
    
}


@media (min-width:1366px) {
    .admin_page{
        padding: 0 15rem;
    }

    .admin_page h2{
        padding: 6rem 0;
        text-align: center;
    }
}